body {
  font-family: Verdana, sans-serif;
  background-color:black; 
  color: white;
}

.maze-container {
  display: grid;
  justify-self: right;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  width: 1100px;
  background-color: white;
  color: black;
  outline: 4px green solid;
}

.maze-square {
  background-color: black;
  color: white;
  width: 100px;
  height: 100px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  box-sizing: border-box; 
}

[data-id="Label"]{
  background-color: black;
  text-align: center;
  color: green;
  outline: none;
  font-size: 40px;
  border-right: 4px green solid;
  border-top: 4px green solid;
}

.rowLabel{
  border-right: 4px green solid;
  border-top: 1px green dashed;
  border-bottom: 1px green dashed;
}

.columnLabel{
  border-top: 4px green solid;
  border-right: 1px green dashed;
  border-left: 1px green dashed;
}

.topLabel{
  border-top: 0px;
}

.bottomLabel{
  border-bottom: 0px;
}

.rightLabel{
  border-right: 0px;
}

.leftLabel{
  border-left: 0px;
}

.row1Column1{
  border: black;
  border-right: 4px solid;
  border-bottom: 4px solid;
  border-left: 4px solid;
}

.row1Column2{
  background-color: black;
}

.row1Column3{
  border: black;
  border-right: 4px solid;
  border-bottom: 4px solid;
  border-left: 4px solid;
}

.row1Column4{
  background-color: black;
}

.row1Column5{
  background-color: black;
}

.row1Column6{
  background-color: black;
}

.row1Column7{
  border: black;
  border-top: 3px black double;
  border-right: 4px solid;
  border-bottom: 4px solid;
  border-left: 4px solid;
}

.row1Column8{
  border: black;
  border-top: 3px black double;
  border-right: 4px solid;
  border-bottom: 4px solid;
  border-left: 4px solid;
}

.row1Column9{
  border: black;
  border-top: 3px black double;
  border-right: 4px solid;
  border-bottom: 4px solid;
  border-left: 4px solid;
}

.row1Column10{
  border: black;
  border-top: 3px black double;
  border-right: 4px solid;
  border-bottom: 4px solid;
  border-left: 4px solid;
}

.row2Column1{
  border: black;
  border-top: 4px solid;
  border-left: 4px solid;
}

.row2Column2{
  border: black;
  border-right: 4px solid;
  border-bottom: 4px solid;
}

.row2Column3{
  border: black;
  border-left: 4px solid;
}

.row2Column4{
  border: black;
  border-top: 4px solid;
  border-bottom: 4px solid;
}

.row2Column5{
  border: black;
  border-top: 4px solid;
  border-bottom: 4px solid;
}

.row2Column6{
  border: black;
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-right: 4px solid;
}

.row2Column7{
  border: black;
  border-left: 4px solid;
  border-bottom: 3px black double;
}

.row2Column8{
  border: black;
  border-top: 4px solid;
  border-bottom: 3px black double;
}

.row2Column9{
  border: black;
  border-top: 4px solid;
  border-bottom: 3px black double;
}

.row2Column10{
  border: black;
  border-right: 4px solid;
  border-bottom: 3px black double;
}

.row3Column1{
  background-color: black;
}

.row3Column2{
  border: black;
  border-right: 4px solid;
  border-left: 4px solid;
}

.row3Column3{
  border: black;
  border-right: 4px solid;
  border-left: 4px solid;
}

.row3Column4{
  background-color: black;
}

.row3Column5{
  background-color: black;
}

.row3Column6{
  background-color: black;
}

.row3Column7{
  border: black;
  border-right: 4px solid;
  border-left: 4px solid;
}

.row3Column8{
  border: black;
  background-color: purple;
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-left: 4px solid;
}

.row3Column9{
  border: black;
  background-color: purple;
  border-right: 4px solid;
  border-bottom: 4px solid;
}

.row3Column10{
  border: black;
  border-right: 4px solid;
  border-left: 4px solid;
}

.row4Column1{
  border: black;
  border-bottom: 4px solid;
  border-left: 4px solid;
}

.row4Column2{
  border: black;
  border-top: 4px solid;
}

.row4Column3{
  border: black;
  border-right: 4px solid;
}

.row4Column4{
  border: black;
  border-bottom: 4px solid;
  border-left: 4px solid;
}

.row4Column5{
  border: black;
  border-top: 4px solid;
  border-bottom: 4px solid;
}

.row4Column6{
  border: black;
  border-top: 4px solid;
  border-bottom: 4px solid;
}

.row4Column7{
  border: black;
}

.row4Column8{
  border: black;
  border-right: 4px dashed;
  border-bottom: 4px solid;
}

.row4Column9{
  border: black;
  background-color: purple;
  border-top: 4px solid;
  border-right: 4px solid;
}

.row4Column10{
  border: black;
  border-right: 4px solid;
  border-left: 4px solid;
}

.row5Column1{
  border: black;
  border-right: 4px solid;
  border-left: 4px solid;
}

.row5Column2{
  border: black;
  background-color: purple;
  border-right: 4px solid;
  border-bottom: 4px solid;
  border-left: 4px solid;
}

.row5Column3{
  border: black;
  border-left: 4px solid;
}

.row5Column4{
  border: black;
  border-top: 4px dashed;
  border-right: 4px solid;
}

.row5Column5{
  border: black;
  border-right: 4px dashed;
  border-bottom: 4px solid;
  border-left: 4px solid;
}

.row5Column6{
  border: black;
  background-color: purple;
  border-top: 4px solid;
  border-right: 4px solid;
  border-bottom: 4px solid;
}

.row5Column7{
  border: black;
  border-right: 4px solid;
  border-left: 4px solid;
}

.row5Column8{
  border: black;
  border-top: 4px solid;
  border-left: 4px solid;
}

.row5Column9{
  border: black;
  border-top: 4px solid;
  border-bottom: 4px solid;
}

.row5Column10{
  border: black;
  border-right: 4px solid;
}

.row6Column1{
  border: black;
  border-top: 4px solid;
  border-left: 4px solid;
}

.row6Column2{
  border: black;
  border-top: 4px solid;
  border-bottom: 4px dashed;
}

.row6Column3{
  border: black;
  border-top: 4px solid;
  border-right: 4px solid;
}

.row6Column4{
  border: black;
  border-right: 4px solid;
  border-left: 4px solid;
}

.row6Column5{
  border: black;
  border-top: 4px solid;
  border-left: 4px solid;
}

.row6Column6{
  border: black;
  border-top: 4px solid;
  border-bottom: 4px solid;
}

.row6Column7{
  border: black;
  border-top: 4px solid;
  border-right: 4px solid;
}

.row6Column8{
  border: black;
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-left: 4px solid;
}

.row6Column9{
  border: black;
  border-top: 4px solid;
  border-bottom: 4px solid;
}

.row6Column10{
  border: black;
  border-top: 4px solid;
  border-right: 4px solid;
}

.row7Column1{
  background-color: black;
  border-bottom: 4px solid;
  border-left: 4px solid;
}

.row7Column2{
  background-color: black;
  border-bottom: 4px solid;
}

.row7Column3{
  background-color: black;
  border-bottom: 4px solid;
}

.row7Column4{
  border: black;
  background-color: purple;
}

.row7Column5{
  border: black;
  background-color: purple;
  border-bottom: 4px solid;
}

.row7Column6{
  border: black;
  background-color: purple;
  border-bottom: 4px solid;
}

.row7Column7{
  border: black;
  background-color: purple;
  border-bottom: 4px solid;
}

.row7Column8{
  background-color: black;
  border-bottom: 4px solid;
}

.row7Column9{
  background-color: black;
  border-bottom: 4px solid;
}

.row7Column10{
  background-color: black;
  border-bottom: 4px solid;
  border-right: 4px solid;
}

.row8Column1{
  background-color: black;
  border-top: 4px solid;
  border-left: 4px solid;
}

.row8Column2{
  background-color: black;
  border-top: 4px solid;
}

.row8Column3{
  background-color: black;
  border-top: 4px solid;
}

.row8Column4{
  background-color: black;
  border-top: 4px solid;
}

.row8Column5{
  background-color: black;
  border-top: 4px solid;
}

.row8Column6{
  background-color: black;
  border-top: 4px solid;
}

.row8Column7{
  border: black;
  background-color: purple;
  border-top: 4px solid;
}

.row8Column8{
  border: black;
  background-color: purple;
  border-top: 4px solid;
}

.row8Column9{
  border: black;
  background-color: purple;
  border-top: 4px solid;
}

.row8Column10{
  border: black;
  background-color: purple;
  border-top: 4px solid;
  border-right: 4px solid;
}

.game-buttons{
  display: grid;
  justify-self: center;
  grid-template-columns: 80px 80px 80px 80px 80px;
  grid-template-rows: 50px 50px 50px;
  column-gap: 4px;
  row-gap: 4px;
  width: 420px;
}

#up-button{
  color: black;
  background-color: white;
}

#right-button{
  color: black;
  background-color: white;
}

#down-button{
  color: black;
  background-color: white;
}

#left-button{
  color: black;
  background-color: white;
}

#lightTorch-button{
  color: black;
  background-color: white;
}

#hammer-button{
  color: black;
  background-color: white;
}

#sword-button{
  color: black;
  background-color: white;
}

#controls-and-text{
  display: block;
  position: relative;
  justify-self: left;
  align-content: center;
  height: 900px;
  width: 500px;
  top: -900px;
}

.text-terminal{
  background-color: red;
  color: black;
}