body {
  font-family: Verdana, sans-serif;
  background-color:black; 
  color: white;
}

.maze-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  justify-self: center;
  background-color: white;
  color: black;
  outline: 4px green solid;
}

.maze-square {
  background-color: white;
  color: black;
  width: 100px;
  height: 100px;
  /*outline: 2px green solid;*/
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-id="Label"]{
  background-color: black;
  text-align: center;
  color: green;
  outline: none;
  font-size: 40px;
}

.rowLabel{
  border-right: 2px green solid;
}

.columnLabel{
  border-top: 2px green solid;
}


/* For mobile phones
@media screen and (max-width: 499px){

} */